<!DOCTYPE html>
<html>
<head><title>Add Book</title></head>
<body>
    <h2>Add New Book</h2>
    <form method="POST">
        <input type="text" name="title" placeholder="Book Title" required><br><br>
        <input type="text" name="author" placeholder="Author Name" required><br><br>
        <button type="submit">Add Book</button>
    </form>
    <label>Subject ID:</label>
<input type="number" name="subject_id" required><br><br>

<label>Total Copies:</label>
<input type="number" name="total_copies" value="1" required><br><br>
<a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>